
/* ============ CONTENT ========================= */

.content{
    background-color: $background-color;
    padding: 20px 0 80px;
    border-top: 2px solid $border-color;    

    article{
        .button{            
            padding: 15px 40px;
            border-radius: 5px;
            background-color: $primary-color0;
            text-decoration: none;
            font-size: 1rem;
            color: $text-colorw;
            font-family: $font-title;
            font-weight: 600;
            margin-right: 15px;
            display: inline-block;
            transition: .5s ease;

            &.button-secundary{
                background-color: $secundary-color1;
            }

            &:hover{
                background-color: $text-color;
            }
        }
    }
    h3{
        color: $title-color;
        font-weight: 400;
        padding: 40px 0 10px;
    }
    
    p{
        padding: 10px 0 15px;
        color: $text-color;
    }
}

// <div class="container">
//     <section class="contant">
//         <article>
//             <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed.</h3>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa. Nullam condimentum mauris et rhoncus sagittis. Sed eu metus in diam tincidunt egestas non at odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>            
//             <a href="#" class="button button-primary">BUTTON</a>
//             <a href="#" class="button button-secundary">BUTTON</a>
//         </article>

//         <article>
//             <h3>Lorem ipsum dolor sit amet consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed.</h3>
//             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa. Nullam condimentum mauris et rhoncus sagittis. Sed eu metus in diam tincidunt egestas non at odio.</p>
//             <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vitae lectus erat. Duis consequat laoreet velit. Mauris convallis, sapien sit amet scelerisque accumsan, felis urna aliquet nunc, viverra mollis odio tellus a nisl. Nulla lobortis lectus non rutrum viverra. Sed et molestie libero. Sed ut ultrices dui.</p>
//         </article>  
//     </section>
// </div>