/* ============ COURSEL ========================= */

.no-js .slider .coursel {
    .prev, .next {
        display: none;
    }
}


.slider{
    background-color: darken($color: $secundary-color1, $amount: 15%);
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;

    .coursel{
        white-space: nowrap;
        
        figure{
            margin: 0 15px;
            display: inline-block;
        }
    }
}

.js .slider {
    overflow: hidden;
    color: white;
    
    .coursel{
        position: relative;
        width: 100%;
        margin: auto;
        max-width: 950px;
        
        figure {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            
            &.show { 
                margin-left: 50%;
                transform: translateX(-50%);
                position: static;
                opacity: 1;
            }
        }

        .prev, .next{
            z-index: 3;
            position: absolute;
            top: 50%;
            cursor: pointer;
        }

        .prev {
            left: -20px;
        }

        .next {
            right: -20px;
        }
    }
}