@import "mixins-variaveis";

.header {
    width: 100%;
    .menu-logo{
        width: 50%;
        min-height: 64px;
        line-height: min(64px);
        text-align: center;
        background-color: $primary-color0;
        color: $text-colorw;
        font-weight: 700;
        font-size: 1.5rem;
        font-family: $font-title;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        float: left;

    }
    .nav{
        clear: left;
        ul{
            margin: 0;
            padding: 0;
            background-color: $secundary-color0;
            li{
                list-style: none;
                width: 100%;
                text-align: center;
                border-bottom: 2px dotted rgb(82, 82, 82);
                a{
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: $font-text;
                    color: $primary-color1;
                    font-weight: 600;
                    padding: 25px 0;
                    transition: .5s ease;
                    &:hover{
                        color: $primary-color0;
                    }
                }
            }
        }
        //temporário
        // display: none;
    }
    .btnMenu{
        display: none;
    }

}


// <header class="header">
//     <a class="menu-logo" href="index.html">INFUSION</a> 
//     <label for="button">
//         <div class="hamburger1"></div>
//         <div class="hamburger2"></div>
//         <div class="hamburger3"></div>
//     </labe>
//     <button id="button" class="btnMenu">Menu</button>

//     <nav class="nav">
//         <ul>
//             <li><a href="#">design folio</a></li>
//             <li><a href="#">services</a></li>
//             <li><a href="#">our business</a></li>
//             <li><a href="#">how we help</a></li>
//             <li><a href="#">take the tour</a></li>
//             <li><a href="#">contact</a></li>
//         </ul>
//     </nav>
// </header>