/* ============ HEADER ========================= */

.js .header{
    position: fixed;
    top: 0;
    background-color: $background-color;

    .menu-logo{
        width: 25%;
    }

    .nav{
        transition: all 1s ease;
    }
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;

    @include desktop {
        display: flex;
        top: 0;
    }

    .menu-logo{
        height: 70px;
        text-transform: uppercase;
        background-color: $primary-color0;
        font-size: 1.5rem;
        margin: 0;
        line-height: 0;
        padding: 35px 20px;
        display: block;
        text-decoration: none;
        font-weight: 700;
        color: $text-colorw;
        text-align: right;
        float: left;


        @include desktop {
            width: 25%;
        }
    }

    .btnMenu{
        float: right;
        margin:1.2em;
        background-color: transparent;
        border: none;
        font-size: 16px;

        @include desktop{
            display: none;
        }
    }

    .nav{
        width: 100%;
        clear: left;

        @include desktop {
            background-color: $background-color;
        }

        ul{
            margin: 0;
            padding: 0;
            background-color: $secundary-color0;

            @include desktop {
                max-width: 80%;
                margin: 0 auto;
                @include flex ("space-around","center");
                background-color: $background-color;
            }

            li{
                list-style: none;
                width: 100%;
                text-align: center;
                border-bottom: 2px dotted rgb(82, 82, 82);

                @include desktop {
                    border: none;
                }

                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: lighten($secundary-color0, 30%);
                    display: block;
                    font-weight: 600;
                    font-family: $font-text;
                    padding: 25px 0;
                    transition: .5s ease;


                    &:hover{
                        color: $primary-color0;
                    }
                    
                    @include desktop {
                        background-color: $background-color;
                        font-size: .8rem;
                        padding: 35px 0;
                        color: lighten($secundary-color0, 30%);
                        line-height: 0;
                    
                        &:hover{
                            color: $primary-color0;
                        }
                    }
                }

            }

        }

        @include desktop {
            float: left;
            clear: both;
            width: 75%;   
        }
    }
}