/* ============ LAST ========================= */

.last-section{
    .title{
        background-color: $primary-color0;
        padding: 5px 0;
        
        h2{
            font-size: 1.5rem;
            color: $text-colorw;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .thumbs{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 0;

        @include desktop {
            grid-template-columns: repeat(6, 1fr);
        }

        a {
            img{
                display: block;
                width: 100%;
            }

        }
    }
}