/* ============ LAST ========================= */

.last-section{
    .title{
        background-color: $primary-color0;
        padding: 5px 0;
        
        h2{
            font-size: 1.5rem;
            color: $text-colorw;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .thumbs{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 0;

        @include desktop{
            grid-template-columns: repeat(6, 1fr);
        }


        a {
            position: relative;

            img{
                display: block;
                width: 100%;
            }

            &:after {
                position: absolute;
                top: 0;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #36363680;
                opacity: 0;
            }

            &:hover:after{
                opacity: 1;
                transition: all .5s ease;
            }

        }
    }
}