$font-title: Sintony, sans-serif;
$font-text: Open, sans-serif;
$font-paragraph: Sans, sans-serif;
$text-colorw:rgb(236, 236, 236);
$title-color: #737c85;
$text-color: #929da5;
$border-color: #dbe1e7;
$primary-color1: rgb(96, 177, 163);
$primary-color0: rgb(25, 182, 156);
$secundary-color1: rgb(12, 46, 39);
$secundary-color0: rgb(46, 46, 46);

@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin textCenter {
    display: flex;
    align-items: center;
    text-align: center;
}

@mixin spaceVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}