*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.6;
}

@import "_header.scss";
@import "_first.scss";
@import "_people.scss";
@import "_content.scss";


@import "_slider.scss";