* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Open, sans-serif;
  line-height: 1.6;
}

.container {
  margin: 0 1rem;
}

/* ============ HEADER ========================= */
@media screen and (min-width: 1024px) {
  body {
    margin-top: 84px;
  }
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    top: 0;
  }
}
.header .header-top {
  z-index: 1;
  width: 100%;
  height: 84px;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header .header-top {
    width: 30%;
  }
}
.header .header-top .menu-logo {
  display: block;
  width: 30%;
  min-height: 84px;
  line-height: min(84px);
  text-align: center;
  background-color: #19b69c;
  color: #ececec;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: Sintony, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .header .header-top .menu-logo {
    width: 100%;
  }
}
.header .header-top .header-label {
  width: 42px;
  min-height: 42px;
  margin-right: 20px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: rotate(0deg);
  transition: all 1s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .header .header-top .header-label {
    display: none;
  }
}
.header .header-top .header-label .hamburger-close {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #242a2c;
  transition: all .8s ease-in-out;
  transform: rotate(0deg);
}
.header .header-top .header-label .hamburger-close::before {
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  top: -12px;
  background-color: #242a2c;
  transform: rotate(0deg);
  transition: all .5s ease-in-out;
}
.header .header-top .header-label .hamburger-close::after {
  width: 80%;
  height: 4px;
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  background-color: #242a2c;
  transform: rotate(0deg);
  transition: all .5s ease-in-out;
}
.header .header-top .header-label .hamburger-open {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: transparent;
  transition: all .5s ease-in-out;
  transform: rotate(180deg);
}
.header .header-top .header-label .hamburger-open::before {
  position: absolute;
  width: 100%;
  height: 4px;
  content: '';
  top: 0px;
  background-color: #242a2c;
  transform: rotate(-45deg);
  transition: all .5s ease-in-out;
}
.header .header-top .header-label .hamburger-open::after {
  width: 100%;
  height: 4px;
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #242a2c;
  transform: rotate(45deg);
  transition: all .5s ease-in-out;
}
.header .header-top .header-label.label-rotate {
  transform: rotate(180deg);
  transition: all 1s ease-in-out;
}
.header .nav {
  width: 100%;
  position: absolute;
  top: 84px;
  left: 0;
  transition: all .5s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .header .nav {
    z-index: 1;
    width: 80%;
    height: 84px;
    position: relative;
    top: 0px;
  }
}
.header .nav ul {
  transition: all .2s ease-in-out;
}
.header .nav ul li {
  text-align: center;
}
.header .nav ul li:last-child {
  border-bottom: none;
}
.header .nav ul li a {
  width: 100%;
  height: 84px;
  line-height: 84px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Open, sans-serif;
  color: #60b1a3;
  font-weight: 600;
  display: inline-block;
  background-color: #242a2c;
  border-bottom: 2px solid #525252;
}
@media screen and (min-width: 1024px) {
  .header .nav ul li a {
    color: #5d6d72;
    background-color: #f8f9f9;
    border: none;
    font-size: .9rem;
  }
  .header .nav ul li a:hover {
    color: #19b69c;
    transition: all .5s ease-in-out;
  }
}
@media screen and (min-width: 1024px) {
  .header .nav ul li {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .header .nav ul {
    background-color: #f8f9f9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header .nav.hide-menu {
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .header .nav.hide-menu {
    transform: translateY(0);
  }
}
.header .btnMenu {
  display: none;
}

/* ============ FIRST SECTION ========================= */
.first-section {
  width: 100%;
  height: calc(100vh - 84px);
  padding: 0 10px;
  text-align: center;
  margin-top: 442px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat, url("/img/01.jpg");
  background-size: 40px 40px, 40px 40px, cover;
}
.first-section h1 {
  padding: 35px;
  margin: 0;
  text-transform: uppercase;
  background-color: #60b1a3;
  color: #ececec;
}
.first-section p {
  padding: 24px;
  background-color: #242a2c;
  color: #ececec;
  font-size: 1.3rem;
  margin: 1vh 3vh 4vh;
}
.first-section .btn-buy {
  display: block;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: rgba(36, 42, 44, 0.4);
  text-decoration: none;
  font-size: 1.5rem;
  color: #ececec;
  font-family: Sintony, sans-serif;
  font-weight: 600;
  border: 1px solid white;
  transition: .5s ease;
}
.first-section .btn-buy:hover {
  color: #60b1a3;
  background-color: rgba(36, 42, 44, 0.7);
}

.no-js .first-section.section-close {
  margin-top: 0;
}

/* ============ PEOPLE CARDS ========================= */
.people-section {
  width: 100%;
  margin-top: 2.5rem;
}
.people-section .people-cards .people-about {
  text-align: center;
  padding: 64px 25px 20px;
  border-left: 2px solid #dbe1e7;
}
.people-section .people-cards .people-about .title {
  color: #737c85;
  font-size: 1.5rem;
  font-weight: normal;
}
.people-section .people-cards .people-about .text {
  color: #929da5;
  font-size: .9rem;
}
.people-section .people-cards .image {
  width: 100%;
}
.people-section .people-cards .avatar {
  margin: -55px auto;
  width: 88px;
  height: 88px;
  overflow: hidden;
}
.people-section .people-cards:hover {
  outline: 5px solid #19b69c;
  outline-offset: -5px;
}
.people-section .people-cards:hover .avatar img {
  transform: translateY(-88px);
}
.people-section .people-cards:hover .title, .people-section .people-cards:hover .text {
  color: #19b69c;
}

/* ============ CONTENT ========================= */
.content {
  background-color: #f8f9f9;
  padding: 20px 0 80px;
  border-top: 2px solid #dbe1e7;
}
.content article .button {
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #19b69c;
  text-decoration: none;
  font-size: 1rem;
  color: #ececec;
  font-family: Sintony, sans-serif;
  font-weight: 600;
  margin-right: 15px;
  display: inline-block;
  transition: .5s ease;
}
.content article .button.button-secundary {
  background-color: #455357;
}
.content article .button:hover {
  background-color: #929da5;
}
.content h3 {
  color: #737c85;
  font-weight: 400;
  padding: 40px 0 10px;
}
.content p {
  padding: 10px 0 15px;
  color: #929da5;
}

/* ============ LAST ========================= */
.last-section .title {
  background-color: #19b69c;
  padding: 5px 0;
}
.last-section .title h2 {
  font-size: 1.5rem;
  color: #ececec;
  font-weight: 400;
  text-transform: uppercase;
}
.last-section .thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 0;
}
.last-section .thumbs a img {
  display: block;
  width: 100%;
}

/* ============ COURSEL ========================= */
.slider {
  background-color: #232a2c;
  padding: 125px 0 100px;
  width: 100%;
  overflow: auto;
}
.slider .coursel {
  white-space: nowrap;
}
.slider .coursel figure {
  margin: 0 15px;
  display: inline-block;
}
.slider .coursel img {
  width: 100%;
}

/* ============ COURSEL ========================= */
.no-js .slide-show figure + figure {
  margin-top: 4rem;
}

.quotation {
  background-color: #60b1a3;
  padding: 50px 6vw;
  border-bottom: 12px solid #387369;
}
.quotation .slide-show h2 {
  color: #ececec;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  padding: 10px 0;
}
.quotation .slide-show figcaption {
  color: #ececec;
  text-align: center;
}

/* ============ FOOTER ========================= */
.footer {
  padding: 6vw;
  background-color: #242a2c;
  color: #42484a;
}
.footer p {
  padding: 20px 0;
}
.footer .links {
  padding: 0 30px;
}
.footer .links li {
  list-style: none;
}
.footer .links li a {
  text-decoration: none;
  color: #42484a;
}

/*# sourceMappingURL=main.css.map */
